---
---

@import 'jekyll-theme-dinky';

header {
    margin-top: 0px;
    padding-left: 15px;
    width: 205px;
    height: 100%;
    overflow-y: auto;
}

header ul {
    list-style:none;
    padding:0;
    margin-top: 8px;
    margin-bottom: 4px;
}
header li {
    list-style-type:none;
    width:132px;
    /*height:15px;*/
    height: auto;
    width: auto;
    margin-bottom:4px;
    line-height:1.2em;
    padding:6px 6px 6px 7px;
    /*background:#AF0011;
    background:-moz-linear-gradient(top, #AF0011 0%, #820011 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #ddd));
    background:-webkit-linear-gradient(top, #AF0011 0%, #820011 100%);
    background:-o-linear-gradient(top, #AF0011 0%, #820011 100%);
    background:-ms-linear-gradient(top, #AF0011 0%, #820011 100%);
    background:linear-gradient(to top, #AF0011 0%, #820011 100%);*/
    background: none;
    /*border-radius:4px;*/
    border:1px solid #aaa;
    /*-webkit-box-shadow:inset 0px 1px 1px 0 #e90226;
    box-shadow:inset 0px 1px 1px 0 #e90226;*/
    box-shadow: none;
}
header li:hover {
    /*background:#C3001D;
    background:-moz-linear-gradient(top, #C3001D 0%, #950119 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #ddd));
    background:-webkit-linear-gradient(top, #C3001D 0%, #950119 100%);
    background:-o-linear-gradient(top, #C3001D 0%, #950119 100%);
    background:-ms-linear-gradient(top, #C3001D 0%, #950119 100%);
    background:linear-gradient(to top, #C3001D 0%, #950119 100%);*/
    background: none;
}

a code, a pre {
    color: #C30000;
}
